*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}
.container{
    height: 400px;
    width: 750px;
    overflow: hidden;
    position: relative;
}
.container .image{
    height: 100%;
    width: 100%;
}
.container img{
    height: 100%;
    width: 100%;
}
.slider-btn{
position: absolute;
bottom: 20px;
left: 50%;
display: flex;
transform: translateX(-50%);
}
.slider-btn span{
    height: 15px;
    width: 50px;
    background-color: aliceblue;
    margin: 0 5px;
    cursor: pointer;
}
.slider-btn span:hover{
    background-color: antiquewhite;
}